@model Empresa.Models.Ventas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ventas</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Id_Vendedor, "Vendedor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var Listav = Empresa.Controllers.VentasController.ListaVendedores();
                <select class="form-control" id="Id_Vendedor" name="Id_Vendedor">


                    @{ foreach (var item in Listav)
                        {
                            <option value="@item.Id_Vendedor">@item.Nombres_V</option>
                        }
                    }
                </select>
            }
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Id_Producto, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var Lista = Empresa.Controllers.VentasController.ListaProductos();
                <select class="form-control" id="Id_Producto" name="Id_Producto">


                    @{ foreach (var item in Lista)
                        {
                            <option value="@item.Id_Producto">@item.Nombre_Producto</option>
                        }
                    }
                </select>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cantidad_Vendida, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cantidad_Vendida, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cantidad_Vendida, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
